Node-RED/flows.json
[{"id":"e5e1e1d8.8e31b","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"85114965.b0c448","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"92cd032c.c7c6","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"320daf9c.09e4d","type":"tab","label":"Flow 10","disabled":false,"info":""},{"id":"f524e6c0.c98c58","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b36b5f0f.80de3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"69e81758.535368","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"72ad1542.adabbc","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"67a693a9.76edfc","type":"ui_group","z":"","name":"Camera","tab":"10c5644a.07854c","order":4,"disp":true,"width":"12","collapse":false},{"id":"cfc1e11e.9394f","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ae2fdaf6.bf4628","type":"ui_group","z":"","name":"Form","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"166ee598.b9630a","type":"ui_group","z":"","name":"Database","tab":"10c5644a.07854c","order":5,"disp":true,"width":"6","collapse":false},{"id":"c1084440.150958","type":"ui_group","z":"","name":"Database","tab":"10c5644a.07854c","order":6,"disp":false,"width":"6","collapse":false},{"id":"f311e848.fb32d8","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"408b2550.44a03c","type":"ui_group","z":"","name":"Console","tab":"10c5644a.07854c","order":3,"disp":true,"width":"12","collapse":false},{"id":"3eb9a7c2.497b58","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"49a6606f.e0158","type":"firebase admin","z":"","name":"iot2020"},{"id":"47bd041c.4565dc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"daa9bddb.5bf02","type":"ui_group","z":"","name":"Database","tab":"10c5644a.07854c","order":7,"disp":false,"width":"6","collapse":false},{"id":"3b119b87.de8304","type":"ui_group","z":"","name":"Database","tab":"10c5644a.07854c","order":8,"disp":false,"width":"6","collapse":false},{"id":"3c1f1e79.162a42","type":"ui_group","z":"","name":"Group 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"382a0839.499fb8","type":"ui_group","z":"","name":"Group 3","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"2a47610f.e609fe","type":"ui_group","z":"","name":"Group 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"c0051da6.eb094","type":"ui_group","z":"","name":"ChangePass","tab":"10c5644a.07854c","order":12,"disp":true,"width":"12","collapse":false},{"id":"387e6ba5.4045c4","type":"ui_group","z":"","name":"Group 3","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"10c5644a.07854c","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"86137984.0b0b48","type":"ui_group","z":"","name":"Buttons","tab":"10c5644a.07854c","order":1,"disp":true,"width":"6","collapse":false},{"id":"f87ad7ed.16c628","type":"ui_group","z":"","name":"Login","tab":"10c5644a.07854c","order":2,"disp":true,"width":"12","collapse":false},{"id":"b4e0ec7.ff47f1","type":"ui_group","z":"","name":"ChangeUser","tab":"10c5644a.07854c","order":11,"disp":true,"width":"12","collapse":false},{"id":"aabf6527.b10948","type":"ui_group","z":"","name":"Door","tab":"10c5644a.07854c","order":10,"disp":true,"width":"12","collapse":false},{"id":"6e8f7c5f.3221e4","type":"ui_group","z":"","name":"Email","tab":"10c5644a.07854c","order":13,"disp":true,"width":"12","collapse":false},{"id":"d23f5b8c.895398","type":"ui_group","z":"","name":"Database","tab":"10c5644a.07854c","order":9,"disp":false,"width":"18","collapse":false},{"id":"eb487177.dce89","type":"websocket-listener","z":"","path":"/data","wholemsg":"false"},{"id":"8514fbf2.340a68","type":"ui_button","z":"e5e1e1d8.8e31b","name":"","group":"86137984.0b0b48","order":1,"width":"6","height":"1","passthru":false,"label":"Console","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Dashboard_Database\",\"Dashboard_Camera\",\"Dashboard_Door\",\"Dashboard_Login\",\"Dashboard_ChangePass\",\"Dashboard_ChangeUser\",\"Dashboard_Email\"],\"show\":[\"Dashboard_Console\"]}}","payloadType":"json","topic":"","x":260,"y":100,"wires":[["e2822d63.a8b11"]]},{"id":"7848e8cb.7324c8","type":"ui_button","z":"e5e1e1d8.8e31b","name":"","group":"86137984.0b0b48","order":2,"width":"6","height":"1","passthru":false,"label":"Camera","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Dashboard_Console\",\"Dashboard_Database\",\"Dashboard_Door\",\"Dashboard_Login\",\"Dashboard_ChangePass\",\"Dashboard_ChangeUser\",\"Dashboard_Email\"],\"show\":[\"Dashboard_Camera\"]}}","payloadType":"json","topic":"camera","x":260,"y":140,"wires":[["e2822d63.a8b11","a1b36818.0d0498"]]},{"id":"6d3aab21.6052a4","type":"ui_button","z":"e5e1e1d8.8e31b","name":"","group":"86137984.0b0b48","order":3,"width":"6","height":"1","passthru":false,"label":"Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Dashboard_Console\",\"Dashboard_Camera\",\"Dashboard_Door\",\"Dashboard_Login\",\"Dashboard_ChangePass\",\"Dashboard_ChangeUser\",\"Dashboard_Email\"],\"show\":[\"Dashboard_Database\"]}}","payloadType":"json","topic":"","x":270,"y":180,"wires":[["e2822d63.a8b11"]]},{"id":"66adb273.58e41c","type":"ui_ui_control","z":"e5e1e1d8.8e31b","name":"","events":"all","x":660,"y":180,"wires":[["25ad270a.7fbed8"]]},{"id":"ac9592f5.bffe1","type":"firebase in","z":"320daf9c.09e4d","name":"","ref":"Users/names","dataAtStart":true,"admin":"49a6606f.e0158","x":150,"y":60,"wires":[["da10de35.d5578","aaf8cf53.e5251"]]},{"id":"2e8c0883.118ed8","type":"ui_template","z":"320daf9c.09e4d","group":"166ee598.b9630a","name":"","order":1,"width":"6","height":"8","format":"<div class=\"container\" style=\"width: 70%\">\n<table class=\"table table-bordered\">\n   <thead>\n       <tr>\n           <th scope=\"col\">ID</th>\n           <th scope=\"col\">Name</th>\n        </tr>\n   </thead>\n   <tbody ng-repeat=\"(key, value) in msg.payload\">\n       <tr>\n           <td scope=\"row\">{{key}}</td>\n           <td scope=\"row\">{{value}}</td>\n       </tr>\n   </tbody>\n</table>\n</div>\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js\"></script>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":80,"wires":[[]]},{"id":"ee4b02d8.b7685","type":"ui_form","z":"320daf9c.09e4d","name":"","label":"<b>Change name</b>","group":"c1084440.150958","order":1,"width":"0","height":"0","options":[{"label":"id","value":"id","type":"number","required":true,"rows":null},{"label":"name","value":"name","type":"text","required":true,"rows":null}],"formValue":{"id":"","name":""},"payload":"","submit":"submit","cancel":"","topic":"","x":180,"y":160,"wires":[["97ab5dc8.403e3","e81b6b40.e8ba38"]]},{"id":"da10de35.d5578","type":"function","z":"320daf9c.09e4d","name":"","func":"let obj = Object.assign({}, msg.payload);\nglobal.set(\"data\", obj);\nmsg = {};\nmsg.payload = obj;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":80,"wires":[["2e8c0883.118ed8"]]},{"id":"ae504d34.68c73","type":"firebase out","z":"320daf9c.09e4d","name":"","ref":"Users/names","operation":"set","admin":"49a6606f.e0158","x":570,"y":260,"wires":[[]]},{"id":"97ab5dc8.403e3","type":"function","z":"320daf9c.09e4d","name":"","func":"let obj = global.get(\"data\")||0;\nif (obj === 0){\n    obj = msg.payload;\n}else{\n    if (Object.keys(obj).includes(msg.payload[\"id\"].toString())){\n        obj[msg.payload[\"id\"]] = msg.payload[\"name\"];\n    }\n    // msg.payload = Object.keys(obj);\n    // return msg;\n}\nglobal.set(\"data\", obj);\nmsg = {}\nmsg.payload = obj\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":200,"wires":[["ae504d34.68c73"]]},{"id":"23d1278.89ff9d8","type":"mqtt in","z":"320daf9c.09e4d","name":"","topic":"subscribe/delete","qos":"2","datatype":"auto","broker":"f311e848.fb32d8","x":160,"y":260,"wires":[["fb254188.44193"]]},{"id":"3d07d351.e6a47c","type":"mqtt in","z":"320daf9c.09e4d","name":"","topic":"subscribe/enroll","qos":"2","datatype":"auto","broker":"f311e848.fb32d8","x":160,"y":320,"wires":[["7b756d7b.33c3a4"]]},{"id":"fb254188.44193","type":"function","z":"320daf9c.09e4d","name":"","func":"let obj = global.get(\"data\");\ndelete obj[msg.payload];\nglobal.set(\"data\", obj);\nmsg = {}\nmsg.payload = obj\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":260,"wires":[["ae504d34.68c73"]]},{"id":"7b756d7b.33c3a4","type":"function","z":"320daf9c.09e4d","name":"","func":"let obj = global.get(\"data\");\nobj[msg.payload] = \"tmp\"\nglobal.set(\"data\", obj);\nmsg = {}\nmsg.payload = obj\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":320,"wires":[["ae504d34.68c73"]]},{"id":"62fef3c5.fa3f0c","type":"ui_form","z":"320daf9c.09e4d","name":"","label":"<b>Delete fingerprint</b>","group":"daa9bddb.5bf02","order":0,"width":"6","height":"2","options":[{"label":"id","value":"id","type":"number","required":true,"rows":null}],"formValue":{"id":""},"payload":"","submit":"submit","cancel":"","topic":"","x":170,"y":420,"wires":[["ffa36c12.b12e6","8cfb6c2d.5e45b"]]},{"id":"829f5736.a6eb48","type":"mqtt out","z":"320daf9c.09e4d","name":"","topic":"publish/delete","qos":"","retain":"","broker":"69e81758.535368","x":560,"y":460,"wires":[]},{"id":"87ec676c.99eda8","type":"mqtt in","z":"92cd032c.c7c6","name":"","topic":"publish/ip","qos":"2","datatype":"auto","broker":"72ad1542.adabbc","x":140,"y":220,"wires":[["faf0f71b.9073f8","770af249.5720dc"]]},{"id":"faf0f71b.9073f8","type":"ui_template","z":"92cd032c.c7c6","group":"67a693a9.76edfc","name":"","order":2,"width":"12","height":"8","format":"<div>\n    <img src=\"http://{{msg.payload}}:81/stream\" width=\"100%\">\n    <!--<img src=\"http://192.168.1.7:80/\" width=\"100%\">-->\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":300,"y":180,"wires":[[]]},{"id":"c416a48b.32f988","type":"function","z":"85114965.b0c448","name":"Store","func":"var text = context.get('text')||[];\nif([\"change\", \"lost\", \"connect\", \"group\"].includes(msg.payload)){\n    text = [];\n}else{\n    const now = new Date();\n    const date = now.getFullYear()+'/'+(now.getMonth()+1)+'/'+now.getDate();\n    const time = now.getHours() + \":\" + now.getMinutes() + \":\" + now.getSeconds();\n    const dateTime = date + ' ' + time + ' ';\n    msg.payload = dateTime + msg.payload;\n    text.push(msg);\n}\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":160,"wires":[["d548358b.23c798"]]},{"id":"74aad1ca.c57e1","type":"ui_ui_control","z":"85114965.b0c448","name":"","events":"all","x":200,"y":200,"wires":[["c416a48b.32f988"]]},{"id":"649e6ba8.dfeee4","type":"mqtt in","z":"85114965.b0c448","name":"","topic":"subscribe/announce","qos":"2","datatype":"auto","broker":"3eb9a7c2.497b58","x":170,"y":120,"wires":[["c416a48b.32f988"]]},{"id":"d548358b.23c798","type":"ui_template","z":"85114965.b0c448","group":"408b2550.44a03c","name":"","order":2,"width":"12","height":"8","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n     <ul>{{x.payload}}</ul>\n <!--<font color=\"red\">{{x.topic}}</font>-->\n <!--   <ul>-->\n        \n <!--   </ul>-->\n <!--</li>-->\n</ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":520,"y":160,"wires":[[]]},{"id":"fea76c01.3a4e9","type":"ui_button","z":"320daf9c.09e4d","name":"","group":"3b119b87.de8304","order":3,"width":"6","height":"2","passthru":false,"label":"Registor fingerprint","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Dashboard_Camera\",\"Dashboard_Database\"],\"show\":[\"Dashboard_Console\"]}}","payloadType":"json","topic":"","x":190,"y":540,"wires":[["ca79fd7d.603f6","ca85b82e.e582b8"]]},{"id":"ca79fd7d.603f6","type":"ui_ui_control","z":"320daf9c.09e4d","name":"","events":"all","x":380,"y":500,"wires":[[]]},{"id":"e88579a8.a325c8","type":"mqtt out","z":"320daf9c.09e4d","name":"","topic":"publish/enroll","qos":"","retain":"","broker":"69e81758.535368","x":550,"y":580,"wires":[]},{"id":"ca85b82e.e582b8","type":"function","z":"320daf9c.09e4d","name":"","func":"msg = {};\nmsg.payload = flow.get(\"next_id\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":580,"wires":[["e88579a8.a325c8"]]},{"id":"aaf8cf53.e5251","type":"function","z":"320daf9c.09e4d","name":"","func":"msg.payload[0] = \"skip\";\nlet id = msg.payload.indexOf();\nid=(id<0)?(msg.payload.length):(id>300)?0:id;\nflow.set(\"next_id\", id);\nmsg.payload = id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":20,"wires":[["36b0b6d9.59d6da","651fc484.0b718c"]]},{"id":"36b0b6d9.59d6da","type":"mqtt out","z":"320daf9c.09e4d","name":"","topic":"publish/id","qos":"","retain":"","broker":"69e81758.535368","x":620,"y":60,"wires":[]},{"id":"ffa36c12.b12e6","type":"function","z":"320daf9c.09e4d","name":"","func":"let keys = Object.keys(global.get(\"data\"));\nif(keys.includes(msg.payload[\"id\"].toString())){\n    msg.payload = msg.payload[\"id\"]\n}else{\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":460,"wires":[["829f5736.a6eb48"]]},{"id":"e81b6b40.e8ba38","type":"function","z":"320daf9c.09e4d","name":"","func":"msg.payload.id = \"\"\nmsg.payload.name = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":120,"wires":[["ee4b02d8.b7685"]]},{"id":"8cfb6c2d.5e45b","type":"function","z":"320daf9c.09e4d","name":"","func":"msg.payload.id = \"\"\nmsg.payload.name = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":380,"wires":[["62fef3c5.fa3f0c"]]},{"id":"5fb21218.53702c","type":"ui_button","z":"e5e1e1d8.8e31b","name":"","group":"86137984.0b0b48","order":7,"width":"6","height":"1","passthru":false,"label":"Change Password","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Dashboard_Console\",\"Dashboard_Camera\",\"Dashboard_Database\",\"Dashboard_Door\",\"Dashboard_Login\",\"Dashboard_ChangeUser\",\"Dashboard_Email\"],\"show\":[\"Dashboard_ChangePass\"]}}","payloadType":"json","topic":"","x":230,"y":220,"wires":[["e2822d63.a8b11"]]},{"id":"af79bbcf.0fe718","type":"ui_form","z":"e5e1e1d8.8e31b","name":"","label":"","group":"f87ad7ed.16c628","order":0,"width":"12","height":"8","options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"","topic":"","x":90,"y":420,"wires":[["a2118b6b.b87df8","b43f50ab.d8921"]]},{"id":"a2118b6b.b87df8","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"const account = global.get(\"account\");\nif(account.username == msg.payload.username &&\n   account.password == msg.payload.password){\n       flow.set(\"login\", true);\n       msg.payload={\"group\":{\"hide\":[\"Dashboard_Camera\",\n                                     \"Dashboard_ChangePass\",\n                                     \"Dashboard_ChangeUser\",\n                                     \"Dashboard_Database\",\n                                     \"Dashboard_Door\",\n                                     \"Dashboard_Login\"],\n                            \"show\":[\"Dashboard_Console\"]}}\n}else{\n    // if (!flow.get(\"state\"))\n    //     msg.notify=\"ESP32 is off\"\n    // else\n        msg.notify=\"Username or Password is wrong\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":420,"wires":[["e2822d63.a8b11","c5b9a42d.0cd098"]]},{"id":"9c171748.7c2808","type":"firebase in","z":"e5e1e1d8.8e31b","name":"","ref":"Users/account","dataAtStart":true,"admin":"49a6606f.e0158","x":130,"y":40,"wires":[["8c918aa8.117518"]]},{"id":"8c918aa8.117518","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"global.set(\"account\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":40,"wires":[[]]},{"id":"e2822d63.a8b11","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"if(!flow.get(\"login\")){\n    msg.payload = {\"group\":{\"hide\":[\"Dashboard_Camera\",\n                                \"Dashboard_ChangePass\",\n                                \"Dashboard_Database\",\n                                \"Dashboard_Door\",\n                                \"Dashboard_ChangeUser\",\n                                \"Dashboard_Console\",\n                                \"Dashboard_Email\"],\n                        \"show\":[\"Dashboard_Buttons\",\"Dashboard_Login\"]}\n              };\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":180,"wires":[["66adb273.58e41c","82e785e3.7552d8"]]},{"id":"273d03f2.91716c","type":"inject","z":"e5e1e1d8.8e31b","name":"","props":[{"p":"payload"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":110,"y":340,"wires":[["25ad270a.7fbed8"]]},{"id":"25ad270a.7fbed8","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"flow.set(\"login\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":340,"wires":[["e2822d63.a8b11"]]},{"id":"c9d63582.2acdf8","type":"ui_button","z":"e5e1e1d8.8e31b","name":"","group":"86137984.0b0b48","order":4,"width":"6","height":"1","passthru":false,"label":"Door","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Dashboard_Console\",\"Dashboard_ChangePass\",\"Dashboard_Database\",\"Dashboard_Camera\",\"Dashboard_Login\",\"Dashboard_ChangeUser\",\"Dashboard_Email\"],\"show\":[\"Dashboard_Door\"]}}","payloadType":"json","topic":"","x":270,"y":300,"wires":[["e2822d63.a8b11"]]},{"id":"b43f50ab.d8921","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"msg.payload.username = \"\";\nmsg.payload.password = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":380,"wires":[["af79bbcf.0fe718"]]},{"id":"14ee6547.03900b","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"let account = global.get(\"account\");\nif (msg.payload.current == account.password){\n    if (msg.payload.new == msg.payload.confirm ){\n        account.password = msg.payload.new;\n        global.set(\"account\", account);\n        msg.notify = \"Changing password is successful\";\n    }else{\n        msg.notify = \"New password and Confirm password is not same!\";\n    }\n}else{\n    msg.notify = \"Your current password is incorrect!\";\n}\nmsg.payload=account;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":460,"wires":[["31d47d7b.993882","c5b9a42d.0cd098","3a3767cc.c4e678"]]},{"id":"9f7e761f.a6f438","type":"ui_form","z":"e5e1e1d8.8e31b","name":"","label":"","group":"c0051da6.eb094","order":0,"width":"12","height":"7","options":[{"label":"current password","value":"current","type":"password","required":true,"rows":null},{"label":"new password","value":"new","type":"password","required":true,"rows":null},{"label":"confirm new password","value":"confirm","type":"password","required":true,"rows":null}],"formValue":{"current":"","new":"","confirm":""},"payload":"","submit":"submit","cancel":"","topic":"","x":90,"y":460,"wires":[["14ee6547.03900b","6abbf78d.bd23c8"]]},{"id":"6abbf78d.bd23c8","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"msg.payload.current = \"\";\nmsg.payload.new = \"\";\nmsg.payload.confirm = \"\";\nmsg.payload.username = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":500,"wires":[["9f7e761f.a6f438","eead86af.316618"]]},{"id":"d0ce4161.0772a","type":"ui_button","z":"e5e1e1d8.8e31b","name":"","group":"86137984.0b0b48","order":8,"width":"6","height":"1","passthru":false,"label":"Change Username","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Dashboard_Console\",\"Dashboard_Camera\",\"Dashboard_Database\",\"Dashboard_Door\",\"Dashboard_Login\",\"Dashboard_ChangePass\",\"Dashboard_Email\"],\"show\":[\"Dashboard_ChangeUser\"]}}","payloadType":"json","topic":"","x":230,"y":260,"wires":[["e2822d63.a8b11"]]},{"id":"31d47d7b.993882","type":"firebase out","z":"e5e1e1d8.8e31b","name":"","ref":"Users/account","operation":"set","admin":"49a6606f.e0158","x":320,"y":520,"wires":[[]]},{"id":"3ef2495b.450a56","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"let account = global.get(\"account\");\nif (msg.payload.current == account.password){\n    account.username = msg.payload.username;\n    global.set(\"account\", account);\n    msg.notify = \"Changing username is successful\";\n}else{\n    msg.notify = \"Changing username is failed\";\n}\nmsg.payload=account;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":580,"wires":[["31d47d7b.993882","c5b9a42d.0cd098","3a3767cc.c4e678"]]},{"id":"eead86af.316618","type":"ui_form","z":"e5e1e1d8.8e31b","name":"","label":"","group":"b4e0ec7.ff47f1","order":0,"width":"12","height":"8","options":[{"label":"current password","value":"current","type":"password","required":true,"rows":null},{"label":"username","value":"username","type":"text","required":true,"rows":null}],"formValue":{"current":"","username":""},"payload":"","submit":"submit","cancel":"","topic":"","x":90,"y":580,"wires":[["3ef2495b.450a56","6abbf78d.bd23c8"]]},{"id":"81a8a8de.aa3898","type":"ui_toast","z":"e5e1e1d8.8e31b","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":670,"y":520,"wires":[[]]},{"id":"c5b9a42d.0cd098","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"msg.payload=msg.notify\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":520,"wires":[["81a8a8de.aa3898"]]},{"id":"3a3767cc.c4e678","type":"switch","z":"e5e1e1d8.8e31b","name":"","property":"notify","propertyType":"msg","rules":[{"t":"regex","v":".*successful$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":460,"wires":[["6503424a.fbe66c"]]},{"id":"6503424a.fbe66c","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"msg.payload = {\"group\":{\"hide\":[\"Dashboard_Camera\",\n                            \"Dashboard_ChangePass\",\n                            \"Dashboard_Database\",\n                            \"Dashboard_Door\",\n                            \"Dashboard_ChangeUser\",\n                            \"Dashboard_Console\", \n                            \"Dashboard_Email\"],\n                    \"show\":[\"Dashboard_Buttons\",\"Dashboard_Login\"]}\n          };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":460,"wires":[["66adb273.58e41c"]]},{"id":"b3863987.c73468","type":"mqtt in","z":"f524e6c0.c98c58","name":"","topic":"subscribe/door","qos":"2","datatype":"auto","broker":"69e81758.535368","x":80,"y":120,"wires":[["66b9d100.7319e","6aa35ada.684c54"]]},{"id":"140d4c4a.5a5374","type":"mqtt out","z":"f524e6c0.c98c58","name":"","topic":"publish/door","qos":"","retain":"","broker":"69e81758.535368","x":670,"y":160,"wires":[]},{"id":"6aa35ada.684c54","type":"ui_switch","z":"f524e6c0.c98c58","name":"","label":"Open","tooltip":"","group":"aabf6527.b10948","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","x":250,"y":140,"wires":[["e1ece639.07dd78","cfd51b7e.3ce7f8"]]},{"id":"cfd51b7e.3ce7f8","type":"firebase out","z":"f524e6c0.c98c58","name":"","ref":"Users/door","operation":"set","admin":"49a6606f.e0158","x":410,"y":120,"wires":[[]]},{"id":"22e74d0.b6163b4","type":"switch","z":"f524e6c0.c98c58","name":"","property":"send","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":160,"wires":[["140d4c4a.5a5374"]]},{"id":"e1ece639.07dd78","type":"function","z":"f524e6c0.c98c58","name":"","func":"if (flow.get(\"receive\")){\n    msg.send = false;\n    flow.set(\"receive\", false)\n}else{\n    msg.send = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[["22e74d0.b6163b4"]]},{"id":"66b9d100.7319e","type":"function","z":"f524e6c0.c98c58","name":"","func":"flow.set(\"receive\", true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":100,"wires":[[]]},{"id":"415bbee5.6f148","type":"inject","z":"f524e6c0.c98c58","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":50,"y":40,"wires":[["36d62d61.a25532"]]},{"id":"36d62d61.a25532","type":"function","z":"f524e6c0.c98c58","name":"","func":"flow.set(\"receive\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":40,"wires":[[]]},{"id":"cca65b38.d913d8","type":"ui_form","z":"b36b5f0f.80de3","name":"","label":"","group":"6e8f7c5f.3221e4","order":0,"width":"12","height":"8","options":[{"label":"email","value":"email","type":"email","required":true,"rows":null}],"formValue":{"email":""},"payload":"","submit":"submit","cancel":"","topic":"","x":190,"y":140,"wires":[["9d2c04f.ae8a7f8","1115a39d.597bfc"]]},{"id":"9d2c04f.ae8a7f8","type":"function","z":"b36b5f0f.80de3","name":"","func":"msg.payload = msg.payload.email;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["c023d395.abbd2"]]},{"id":"16a0425.0ecb9be","type":"ui_button","z":"e5e1e1d8.8e31b","name":"","group":"86137984.0b0b48","order":6,"width":"6","height":"1","passthru":false,"label":"Email","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Dashboard_Database\",\"Dashboard_Camera\",\"Dashboard_Door\",\"Dashboard_Login\",\"Dashboard_ChangePass\",\"Dashboard_ChangeUser\",\"Dashboard_Console\"],\"show\":[\"Dashboard_Email\"]}}","payloadType":"json","topic":"","x":270,"y":60,"wires":[["e2822d63.a8b11"]]},{"id":"1115a39d.597bfc","type":"function","z":"b36b5f0f.80de3","name":"","func":"msg.payload.email=\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":240,"wires":[["cca65b38.d913d8"]]},{"id":"c023d395.abbd2","type":"firebase out","z":"b36b5f0f.80de3","name":"","ref":"Users/email","operation":"set","admin":"49a6606f.e0158","x":530,"y":140,"wires":[[]]},{"id":"770af249.5720dc","type":"function","z":"92cd032c.c7c6","name":"","func":"global.set(\"ip\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":260,"wires":[[]]},{"id":"a9730d89.f33c3","type":"mqtt in","z":"b36b5f0f.80de3","name":"","topic":"subscribe/send_email","qos":"2","datatype":"auto","broker":"69e81758.535368","x":100,"y":320,"wires":[["50ec5415.5ce5ac","b188b593.2ab118","49f871f7.163dd"]]},{"id":"80f204dd.6bb5e8","type":"mqtt in","z":"e5e1e1d8.8e31b","name":"","topic":"subscribe/on","qos":"2","datatype":"auto","broker":"69e81758.535368","x":190,"y":660,"wires":[["cf3e831a.d96a6"]]},{"id":"cf3e831a.d96a6","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"flow.set(\"state\", true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":660,"wires":[[]]},{"id":"c9dbf30c.64ca4","type":"inject","z":"e5e1e1d8.8e31b","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":190,"y":720,"wires":[["e171dfcf.47e75"]]},{"id":"e171dfcf.47e75","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"flow.set(\"state\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":720,"wires":[[]]},{"id":"aeecc0b6.9dd77","type":"ui_button","z":"e5e1e1d8.8e31b","name":"","group":"86137984.0b0b48","order":5,"width":"6","height":"1","passthru":false,"label":"Reng","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":780,"wires":[["432abab0.dbf1b4"]]},{"id":"a058dd84.fa12f","type":"mqtt out","z":"e5e1e1d8.8e31b","name":"","topic":"publish/reng","qos":"","retain":"","broker":"69e81758.535368","x":630,"y":780,"wires":[]},{"id":"432abab0.dbf1b4","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"if(flow.get(\"login\"))\n    msg.reng=true;\nelse msg.reng=false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":780,"wires":[["4f77650a.0406ec"]]},{"id":"4f77650a.0406ec","type":"switch","z":"e5e1e1d8.8e31b","name":"","property":"reng","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":780,"wires":[["a058dd84.fa12f"]]},{"id":"59ab184.a23a2e8","type":"function","z":"f524e6c0.c98c58","name":"","func":"// const now = new Date();\n// const date = now.getFullYear()+'-'+(now.getMonth()+1)+'-'+now.getDate();\n// const time = now.getHours() + \":\" + now.getMinutes() + \":\" + now.getSeconds();\n// const dateTime = date + ' ' + time;\n\nconst dateTime = new Date().toLocaleString('en-US', {\n  hourCycle:\t\"h23\",\n  timeZone: 'Asia/Ho_Chi_Minh',\n  hour:\t\"2-digit\",\n  minute:\t\"2-digit\",\n  second:\t\"2-digit\",\n  day: \"2-digit\",\n  month: \"2-digit\",\n  year: \"numeric\"\n}).replace(/(\\d+)\\/(\\d+)\\/(\\d+)/, '$3-$1-$2');\n\nlet hist = flow.get('hist')||{};\nlet data = global.get('data');\nif (isNaN(msg.payload))\n    hist[dateTime] = msg.payload;\nelse \n    hist[dateTime] = data[msg.payload];\n\nlet keys = Object.keys(hist);\nlet values = Object.values(hist);\n\nif (keys.length > 100){\n    keys.shift();\n    values.shift();\n    hist = {};\n    keys.forEach((key, i) => hist[key] = values[i]);\n}\n    \nmsg.payload = hist;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":240,"wires":[["245f2e12.5e8b32"]]},{"id":"245f2e12.5e8b32","type":"firebase out","z":"f524e6c0.c98c58","name":"","ref":"Users/histories","operation":"set","admin":"49a6606f.e0158","x":560,"y":240,"wires":[[]]},{"id":"20619bff.60a654","type":"mqtt in","z":"f524e6c0.c98c58","name":"","topic":"subscribe/open_door","qos":"2","datatype":"auto","broker":"69e81758.535368","x":160,"y":240,"wires":[["59ab184.a23a2e8"]]},{"id":"b8094e2f.f6e25","type":"firebase in","z":"f524e6c0.c98c58","name":"","ref":"Users/histories","dataAtStart":true,"admin":"49a6606f.e0158","x":140,"y":320,"wires":[["370bab59.1bdab4"]]},{"id":"67bcbf9c.8f292","type":"ui_template","z":"f524e6c0.c98c58","group":"d23f5b8c.895398","name":"history","order":1,"width":"0","height":"0","format":"<div><b>History open the door</b></div>\n<div class=\"container\" style=\"width: 70%\">\n<link href=\"https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css\" rel=\"stylesheet\">\n\n<script src=\"https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js\"></script>\n<script src=\"https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js\"></script>\n<table class=\"table table-striped table-bordered\" \n       style=\"width:100%\"\n       id=\"table\"\n       data-filter-control=\"true\"\n       data-show-search-clear-button=\"true\">\n   <thead>\n        <tr>\n            <th data-field=\"0\" data-filter-control=\"input\">\n               <div class=\"th-inner\">Time</div>\n            </th>\n            <th data-field=\"1\" data-filter-control=\"select\">\n               <div class=\"th-inner\">Name</div>\n            </th>\n        </tr>\n   </thead>\n   <tbody>\n       <tr ng-repeat=\"(key, value) in msg.payload\"> \n           <td>{{key}}</td>\n           <td>{{value}}</td>\n       </tr>\n   </tbody>\n</table>\n<script>\n  $(function() {\n    $('#table').bootstrapTable()\n  })\n</script>\n</div>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":510,"y":320,"wires":[[]]},{"id":"370bab59.1bdab4","type":"function","z":"f524e6c0.c98c58","name":"","func":"flow.set('hist', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":320,"wires":[["67bcbf9c.8f292"]]},{"id":"b188b593.2ab118","type":"function","z":"b36b5f0f.80de3","name":"","func":"msg.to = flow.get(\"email\");\nmsg.from = [{\"address\": \"1753096.17clc@gmail.com\", \n             \"name\": \"ESP32-CAM Device\" }];\nmsg.topic = \"WARNING!!!!!!!!!!!\"\nmsg.attachments = [{filename: 'capture.jpg',\n                    path: `http://${global.get(\"ip\")}:81/stream`\n    \n}];\nmsg.payload = \"<p><b>Your home may be unsafe.</b></p>\"+\n              \"<p><b>Someone is trying to open the door.</b></p>\"+\n              \"<a href='https://iot2020project.mybluemix.net/ui'>Let's check</a>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":280,"wires":[["dc35d94c.2af818","fd9d507.810abb"]]},{"id":"50ec5415.5ce5ac","type":"function","z":"b36b5f0f.80de3","name":"","func":"msg.to = flow.get(\"email\");\nmsg.from = [{\"address\": \"1753096.17clc@gmail.com\", \n             \"name\": \"ESP32-CAM Device\" }];\nmsg.topic = \"WARNING!!!!!!!!!!!\"\nmsg.payload = \"<p><b>Your home may be unsafe.</b></p>\"+\n              \"<p><b>Someone is trying to open the door.</b></p>\"+\n              \"<a href='https://iot2020project.mybluemix.net/ui'>Let's check</a>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":360,"wires":[["dc35d94c.2af818"]]},{"id":"dc35d94c.2af818","type":"e-mail","z":"b36b5f0f.80de3","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":450,"y":320,"wires":[]},{"id":"a1b36818.0d0498","type":"switch","z":"e5e1e1d8.8e31b","name":"","property":"login","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":140,"wires":[["e13a06c.6bfb5f8"]]},{"id":"e13a06c.6bfb5f8","type":"mqtt out","z":"e5e1e1d8.8e31b","name":"","topic":"publish/startStreaming","qos":"","retain":"","broker":"69e81758.535368","x":660,"y":140,"wires":[]},{"id":"82e785e3.7552d8","type":"switch","z":"e5e1e1d8.8e31b","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"camera","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":300,"wires":[["3e8cbc79.9d6e34"]]},{"id":"3e8cbc79.9d6e34","type":"mqtt out","z":"e5e1e1d8.8e31b","name":"","topic":"publish/stopStreaming","qos":"","retain":"","broker":"69e81758.535368","x":660,"y":300,"wires":[]},{"id":"fd9d507.810abb","type":"mqtt out","z":"b36b5f0f.80de3","name":"","topic":"publish/stopCapturing","qos":"","retain":"","broker":"69e81758.535368","x":500,"y":240,"wires":[]},{"id":"49f871f7.163dd","type":"mqtt out","z":"b36b5f0f.80de3","name":"","topic":"publish/stopStreaming","qos":"","retain":"","broker":"69e81758.535368","x":340,"y":440,"wires":[]},{"id":"68ae59f9.3382c8","type":"mqtt in","z":"e5e1e1d8.8e31b","name":"","topic":"subscribe/cameraFailed","qos":"2","datatype":"auto","broker":"69e81758.535368","x":200,"y":860,"wires":[["b14f7df8.922b5"]]},{"id":"b14f7df8.922b5","type":"function","z":"e5e1e1d8.8e31b","name":"","func":"msg.payload=\"Camera is failed. Let's try restarting your device.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":860,"wires":[["13b1b595.8e48da"]]},{"id":"13b1b595.8e48da","type":"ui_toast","z":"e5e1e1d8.8e31b","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":550,"y":860,"wires":[[]]},{"id":"531ea76f.816f38","type":"inject","z":"f524e6c0.c98c58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":420,"wires":[["b0446513.3aa2e8"]]},{"id":"b0446513.3aa2e8","type":"function","z":"f524e6c0.c98c58","name":"","func":"let dateTime = new Date().toLocaleString('en-US', {\n  timeZone: 'Asia/Ho_Chi_Minh',\n}).replace(/(\\d+)\\/(\\d+)\\/(\\d+)/, '$3-$1-$2');;\n// const now=Date.parse(dateTime)\n// // const now = new Date();\n// const date = now.getFullYear()+'-'+(now.getMonth()+1)+'-'+now.getDate();\n// const time = now.getHours() + \":\" + now.getMinutes() + \":\" + now.getSeconds();\n// dateTime = date + ' ' + time;\nmsg.payload = dateTime\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":420,"wires":[["74bea35e.354d5c"]]},{"id":"74bea35e.354d5c","type":"debug","z":"f524e6c0.c98c58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":420,"wires":[]},{"id":"651fc484.0b718c","type":"debug","z":"320daf9c.09e4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":20,"wires":[]}]